<!doctype html>
<html>
<head>
  <title>Madlibs</title>
</head>
<body>

  <h1>Enter the information below to play Madlibs!</h1>

    <form action="/madlib">

        <p>Name a Person:</p> 
        <input type="text" name="person">

<!--         <p>Choose a color:</p>
        <select name="color">
            <option value="blue">Blue</option>
            <option value="green">Green</option>
            <option value="red">Red</option>
            <option value="purple">Purple</option>
        </select> -->
        <p>Choose a color:</p>
        <select name="color">
          {% for color in colors %}
          <option value="{{ color }}">{{ color }}</option>
          {% endfor %}
        </select>

        <p>Choose a noun:</p>
        <select name="noun">
            <option value="cat">Cat</option>
            <option value="plant">Plant</option>
            <option value="car">Car</option>
            <option value="computer">Computer</option>
        </select>

        <p>Choose an adjective:</p>
        <select name="adj">
            <option value="lumpy">Lumpy</option>
            <option value="chubby">Chubby</option>
            <option value="raspy">Raspy</option>
            <option value="hungry">Hungry</option>
        </select>

        <input type="submit">
    
    </form>

</body>
</html>